extends templates/template.pug

block head
	link(rel="stylesheet", href="css/login.css")
	link(rel="stylesheet", href="css/bootstrap/bootstrap.min.css")
block navbar
	
block content
	div(class="card logincard cardShadow")
		form(action="/login", method="POST")
			h3(style="padding-top: 5px;")
				| Login
			if error
				div(style="color: red")=error
			input(type="text", placeholder="Username*", name="username", class="loginInput", id="uname")
			input(type="password", placeholder="Password", name="password2", class="loginInput")
			button(type="submit", class="loginButton")
				| Login
