html
	head
		title #{title}
	body
		form(method="post")
			input(type="text", name="name", placeholder="name")
			input(type="text", name="description", plcaholder="description")
			input(type="submit")